<!Doctype html>

	<h1>Hello BookmarkManager!</h1>

	<form>
		<input type="text" id="URL" placeholder="add URL here">
		<input type="text" id="bookmarkname" placeholder="name your boomark">
	</form>

	<button type="submit" value="Add Bookmark">Add Bookmark</button>

	<h2>Your Saved Links</h1>

	<% if @all_links.count == 0 %>
		<div>You currently have no saved bookmarks</div>
	<%end %>

	<ul>

		<% @all_links.each do |link| %>
			<li><a href="<%link.url%>"><%link.title%></a></li>
		<%end%>

	</ul>





